.hotelNavbar_search {
    display: flex;
    align-items: right;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
}

.hotelNavbar_search > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}

/* The navbar container */
.hotelNavbar{
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .hotelNavbar_links{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  /* .hotelNavbar_links:hover {
    background-color: #ddd;
    color: black;
  } */